* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #FAF9F6;
}

.vote-container {
    position: relative;
}

#vote-chart {
    position: relative;
    max-height: inherit;
    width: inherit;
}

#vote-chart-container {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

#vote-text-input{
    max-width: 30%;
    margin-right: 5px;
}

#vote-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

#vote-input-section {
    margin-top: 1.5rem;
}

#incorrect-container {
    height: 5rem;
    background-color: #efefef;
    margin-bottom: 0.5rem;
    overflow-y: scroll;
}

.incorrect-letter-container {
    display: inline-block;
    border: 2px solid #ddd;
    background-color: rgb(184, 114, 114);
    color: #eee;
    margin: 0.5rem 0.1rem 0.1rem 0rem;
    padding: 0 0.5rem 0 0.5rem;
    width: 2rem;
}

.incorrect-letter-container p {
    text-align: center;
    font-size: 18px;
    padding: 0;
}

#hangman-container {
    display: flex;
}

#hangman-display {
    width: 100%;
    background-color: #e0e0e0;
}

#hangman-word-content {
    max-height: inherit;
    width: 100%;
    background-color: #fff;
    vertical-align: middle;
    padding-top: 5px;
}

.hangman-letter-box {
    display: inline-block;
    border: 2px solid #eee;
    background-color: #fcfcfc;
    margin: 0.5rem 0.1rem 0.5rem;
    padding: 0 0.5rem;
}

#player-list-ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

#player-list {
    margin-top: 0.3rem;
    height: 30vh;
    overflow-y: scroll;
}

#player-list div {
    width: 80%;
    border: 2px solid #eee;
    background-color: #fcfcfc;
    margin-top: 0.2rem;
    padding: 0 0.2rem;
}

#player-list p {
    font-size: 22px;
}

.player-container {
    position: relative;
}

.voted::before {
    background-image: url('/assets/vote-icon.png');
    background-size: 20px 20px;
    display: inline-block;
    position: absolute;
    width: 20px; 
    height: 20px;
    top: 5px;
    left: 15px;
    content:'';
}

p {
    font-size: 24px;
    text-align: center;
    line-height: 1.25;
    margin: 0 auto 5px auto;
    padding: 0;
}

h3 {
    font-size: 20px;
}

#pointer-arrow {
    position: absolute;
    width: 2em;
    top: 45%;
    right: -6%;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

@media (max-width: 400px) {
    #vote-chart-container {
        display: flex;
        position: relative;
        padding: 0 10px 0 10px;
    }

    #pointer-arrow {
        position: absolute;
        width: 1.5em;
        top: 50%;
    }

    #vote-input-section {
        margin-top: 0.5rem;
    }

    p {
        font-size: 12px;
    }

    #player-list {
        margin-top: 0.3rem;
        height: 15vh;
        overflow-y: scroll;
    }
}

@media (min-width: 400px) and (max-width: 576px) {
    #vote-chart-container {
        display: flex;
        position: relative;
        padding: 10px;
        width: 65%;
        float: left;
    }

    #vote-form {
        margin-top: 8rem;
    }

    p {
        font-size: 16px;
    }

    #pointer-arrow {
        position: absolute;
        width: 1.5em;
        top: 49%;
        right: -2%;
    }

    #player-list {
        margin-top: 0.3rem;
        height: 15vh;
        overflow-y: scroll;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #vote-chart-container {
        display: flex;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }

    p {
        font-size: 18px;
    }

}